body {
  margin: 0px;
  font-family: "Inter", sans-serif;
  color: #111111;
  background-color: #f3f5fc;
}

h1,
h2,
h3,
h4,
ul,
p {
  margin: 0px;
}

ul {
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
}
