.container-titulo {
  font-family: "Gloria Hallelujah", cursive;
  color: #0a3871;
  text-align: center;
  padding: 20px;
  margin-bottom: 50px;
  background-color: #d8dfe8;
  position: relative;
}

.container-botoes-inicial {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
  gap: 10px;
  /* display: none; */
}

.container-botoes-inicial button {
  background-color: #9bb7db;
  color: #ffffff;
  border: 1px solid #d8dfe8;
  cursor: pointer;
  width: 250px;
  font-size: 1rem;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 1px 2px dimgray;
}

.container-botoes-inicial button:hover {
  background-color: #0a3871;
}

.container-form {
  display: none;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
}

.container-form label {
  color: #0a3871;
}

.container-form input {
  font-size: 1rem;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #0a3871;
  background: #d8dfe8;
  margin-bottom: 20px;
  margin-top: 5px;
  text-transform: uppercase;
}
.container-form p {
  margin-top: 10px;
  text-align: center;
  color: #0a3871;
}

.container-form button:hover {
  background-color: #0a3871;
}

.bnt-container-form {
  background-color: #9bb7db;
  color: #ffffff;
  border: 1px solid #d8dfe8;
  cursor: pointer;
  width: 210px;
  font-size: 1rem;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 1px 2px dimgray;
  margin: 0 auto;
}

.container-total {
  display: none;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;
}

.container-dica {
  font-size: 1.2rem;
  margin-bottom: 30px;
  font-weight: 800;
}

.container-img {
  /* background-image: url("../svg/1.svg"); */
  width: 300px;
  height: 300px;

  margin-bottom: 60px;
  background-repeat: no-repeat;
}

.container-palavra-secreta {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: "Inter", sans-serif;
  color: #0a3871;
  gap: 10px;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 30px;
}

.container-teclado {
  display: flex;
  flex-direction: column;
}

.container-teclas:nth-child(2) {
  text-align: center;
}
.container-letra {
  width: 2rem;
  padding: 0 5px 0 5px;
  border-bottom: 5px solid #0a3871;
  border-radius: 3px;
}

.container-teclas {
  margin: 0 0 10px 0;
}

.container-teclas button {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  cursor: pointer;
  width: 40px;
  height: 40px;
  box-shadow: 0px 1px 2px dimgray;
}

.container-teclas button:hover {
  border: 1px solid black;
  border-radius: 2px;
  background: #d8dfe8;
}

#teclaReiniciar:focus {
  color: #ffffff;
  background-color: #0a3871;
}

.container-teclas #teclaReiniciar {
  width: 85px;
}

.container-teclas:last-child {
  text-align: center;
}

#teclaDesistir:focus {
  color: #ffffff;
  background-color: #0a3871;
}

.container-teclas button:disabled {
  cursor: not-allowed;
}

.footer-total {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #d8dfe8;
}
.footer {
  padding: 20px;
  display: flex;
  gap: 20px;
  justify-content: center;
}
.footer-a {
  display: flex;
  align-items: center;
}
.footer-img {
  max-width: 40px;
}

@media (max-width: 950px) {
  .container-titulo {
    padding: 20px;
    margin-bottom: 30px;
  }

  .container-total {
    margin-top: 50px;
  }

  .container-dica {
    margin-bottom: 30px;
    font-weight: 800;
  }

  .container-img {
    width: 250px;
    height: 250px;
    margin-bottom: 80px;
  }

  .container-palavra-secreta {
    margin-bottom: 100px;
  }

  .container-teclas #teclaReiniciar {
    width: 112px;
  }

  .footer {
    padding: 10px;
  }
  .footer-img {
    max-width: 30px;
  }
}

@media (max-width: 610px) {
  .container-titulo {
    padding: 10px;
    margin-bottom: 10px;
  }

  .container-total {
    margin-top: 20px;
  }

  .container-img {
    width: 200px;
    height: 200px;
    margin-bottom: 60px;
  }

  .container-palavra-secreta {
    font-size: 1.1rem;
    margin-bottom: 40px;
  }

  .container-letra {
    width: 1rem;
    padding: 0 5px 0 5px;
    border-bottom: 5px solid #0a3871;
    border-radius: 3px;
  }

  .container-teclas button {
    font-size: 0.8rem;
    width: 30px;
    height: 30px;
    margin: 0 0px 1px 0px;
  }

  .container-teclas #teclaReiniciar {
    width: 62px;
  }

  .footer {
    padding: 0px;
  }
  .footer-img {
    max-width: 25px;
  }
}
