.container-titulo {
  text-align: center;
  padding: 20px;
  margin-bottom: 50px;
  background-color: #d8dfe8;
  position: relative;
}

.container-total {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.container-dica {
  margin-bottom: 30px;
  font-weight: 800;
}

.container-img {
  background-image: url("../svg/1.svg");
  width: 300px;
  height: 300px;
  background-repeat: no-repeat;
  margin-bottom: 60px;
}

.container-palavra-secreta {
  display: flex;
  flex-direction: row;
  font-family: "Inter", sans-serif;
  gap: 10px;
  font-size: 3rem;
  margin-bottom: 30px;
}

.container-letra {
  padding: 0 5px 0 5px;
  border-bottom: 5px solid #0a3871;
  border-radius: 3px;
}

.container-teclas {
  margin: 0 0 10px 0;
}

.container-teclas button {
  font-family: "Inter", sans-serif;
  cursor: pointer;
  width: 40px;
  height: 40px;
  box-shadow: 0px 1px 2px dimgray;
}

.container-teclas button:hover {
  border: 1px solid black;
  border-radius: 2px;
  background: #d8dfe8;
}

.container-teclas #tecla-reiniciar {
  width: 85px;
}

.footer-total {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #d8dfe8;
}
.footer {
  padding: 20px;
  display: flex;
  gap: 20px;
  justify-content: center;
}
.footer-a {
  display: flex;
  align-items: center;
}
.footer-img {
  max-width: 40px;
}

@media (max-width: 950px) {
  .container-titulo {
    padding: 20px;
    margin-bottom: 30px;
  }

  .container-total {
    margin-top: 50px;
  }

  .container-dica {
    margin-bottom: 30px;
    font-weight: 800;
  }

  .container-img {
    width: 250px;
    height: 250px;
    margin-bottom: 80px;
  }

  .container-palavra-secreta {
    margin-bottom: 100px;
  }

  .container-teclas button {
    font-size: 1.5rem;
    width: 50px;
    height: 50px;
    margin: 0 3px 3px 3px;
  }

  .container-teclas #tecla-reiniciar {
    width: 112px;
  }

  .footer {
    padding: 10px;
  }
  .footer-img {
    max-width: 30px;
  }
}

@media (max-width: 610px) {
  .container-titulo {
    padding: 10px;
    margin-bottom: 10px;
  }

  .container-total {
    margin-top: 20px;
  }

  .container-img {
    width: 200px;
    height: 200px;
    margin-bottom: 60px;
  }

  .container-palavra-secreta {
    margin-bottom: 40px;
  }

  .container-teclas button {
    font-size: 1rem;
    width: 30px;
    height: 30px;
    margin: 0 0px 1px 0px;
  }

  .container-teclas #tecla-reiniciar {
    width: 85px;
  }

  .footer {
    padding: 0px;
  }
  .footer-img {
    max-width: 25px;
  }
}
